
.nav-link {
    color: black;
    width: 250px;
    justify-content: center;
}

.nav-link:hover{
    color: white;
    background-color: sienna;
    width: 250px;
    justify-content: center;
}
#menuTable{
    background-color: #ffb27e;
    width: 100%;
    border-bottom: sienna;
    border-bottom-width: 30px;
}
body{
    background-color: #ffc19f;
}
.icon{
max-height: 40px;
    max-width: 40px;
}
