.bouton{
  $btn-color: random-color($max:200);
  $btn-color-dark: shade($btn-color, 40%);
  color: tint($btn-color);

  &:before,
  &:after,
  span:before,
  span:after {
    content: '';
    @include absolute(0,0,0,0);
    background-color: $btn-color-dark;
  }

  &:before { transform: translate(-100%, -100%); }
  &:after { transform: translate(-100%, 100%); }
  span:before { transform: translate(100%, -100%); }
  span:after { transform: translate(100%, 100%); }

  &:hover {
    color: tint($btn-color, 75%);

    &:before { transform: translate(-50%, -50%); }
    &:after { transform: translate(-50%, 50%); }
    span:before { transform: translate(50%, -50%); }
    span:after { transform: translate(50%, 50%); }
  }
}
