
#menu>div{
    margin: 9px;
    width: 20%;
    display: flex;
    flex-direction: row;
    border-color: #b66536;
}
#container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 2.0rem;
    position: relative;
    width: 100%;
    background-color: #b66536;
    width: 100%;
    border: solid;
    border-color: #b66536;
    border-bottom: solid;
}
#row {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
}

.nav-link:link,.nav-link:visited {
    color: white;
    background-color: #b66536;
    width: 250px;
    justify-content: center;

}
.nav-link:hover{
    color: white;
    background-color: #b54a16;
    width: 250px;
    justify-content: center;
}
#logo{
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}
.navigation{
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}
#search{
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
}
#panier{
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
    filter: invert(100%);

}
#compte {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;
    filter: invert(100%);
}
body{
    background-color: #ffc19f;
}
.btn-primary{
    background-color: #b66536;
    border-color: #b66536;
}
.btn-primary:hover{
    background-color: #b6571e;
    border-color: #b6571e;
}
.container-fluid{
    background-color: #b66536;
}
.navbar{
    background-color: #b66536;
}
div {
    width: 300px;
    margin: auto;
    border: 3px solid black;
}








